<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="UTF-8">
	<title>MineClass-班级公告</title>
<link type="text/css" rel="stylesheet" href="static/css/setting.css"/>
<link type="text/css" rel="stylesheet" href="static/css/header.css"/>
<!--标签页、书签的logo显示-->
<link href="static/images/favicon.ico" rel="bookmark" type="image/x-icon" /> 
<link href="static/images/favicon.ico" rel="icon" type="image/x-icon" /> 
<link href="static/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<script type="text/javascript">
window.onload=function()
  {//实现头像点击弹出菜单
   var oBtn=document.getElementById('head-avatar');
    var oDiv=document.getElementById('action-overflow');
 oBtn.onclick=function(ev)
 { var oEvent=ev||event;
   if(oDiv.style.display=='block'){
        oDiv.style.display='none';
   }else{ 
   oDiv.style.display='block';
   oEvent.cancelBubble=true;
    }
}              //取消冒泡
 document.onclick=function()
 {oDiv.style.display='none';} 
 }
</script>
</head>
<body>
<!--导航header-->
<div id="header">
	<div id="nav">
    	<div id="logo">
        	<a href="home_page" >MineClass</a>
        </div>
        <ul class="nav-item">
        	<li>
            	<a href="inform">公告</a>
            </li>
            <li>
            	<a href="discuss">树洞</a>
            </li>
            <li class="special">
            	<a href="">资源共享</a>
            </li>
            <li>
            	<a href="">班级日历</a>
            </li>
        </ul>
        <ul class="action-bar">
        	<li class="addnew">
            	<a id="add" href="javascript:void(0)" title="发布"></a>
            </li>
            <li id="head-btn">
            	<a id="head-avatar" href="javascript:void(0)"></a>
                <div id="action-overflow">
                    <ul class="over-ul">
                	   <li>
                    	   <a id="setinfo" href="setinfo">个人设置</a>
                        </li>
                        <li>
                     	  <a href="home_page" id="logout">退出</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--主体部分-->

</body>
</html>