<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="UTF-8">
	<title>MineClass-班级公告</title>
<link type="text/css" rel="stylesheet" href="static/css/inform.css"/>
<link type="text/css" rel="stylesheet" href="static/css/header.css"/>
<!--标签页、书签的logo显示-->
<link href="static/images/favicon.ico" rel="bookmark" type="image/x-icon" /> 
<link href="static/images/favicon.ico" rel="icon" type="image/x-icon" /> 
<link href="static/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<!--API引入-->
<script type="text/javascript" src="static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="static/js/mineclassapi.js"></script>
<script type="text/javascript" src="static/js/userfunction.js"></script>

<!--UMEditor引入-->
<!-- 样式文件 -->
<link rel="stylesheet" href="static/umeditor/themes/default/css/umeditor.css">
<!-- 引用jquery -->
<script src="static/umeditor/third-party/jquery.min.js"></script>
<!-- 配置文件 -->
<script type="text/javascript" src="static/umeditor/umeditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="static/umeditor/umeditor.min.js"></script>
<!-- 语言包文件 -->
<script type="text/javascript" src="static/umeditor/lang/zh-cn/zh-cn.js"></script>
<!-- 实例化编辑器代码 -->

<script type="text/javascript">
    $(function(){
        window.um = UM.getEditor('myEditor');
    });
</script>

<!--初始化-->
<script type="text/javascript">
$(document).ready(function(){
    isLogin();
    showAvatar();
    //退出
    $("#logout").click(function(event) {
        /* Act on the event */
        Logout();
    });
    //点击头像显示菜单
    showOverflow();
    showDiscuss();
});
</script>

</head>
<body>
<!--导航header-->
<div id="header">
	<div id="nav">
    	<div id="logo">
        	<a href="home_page" >MineClass</a>
        </div>
        <ul class="nav-item">
        	<li>
            	<a href="inform">公告</a>
            </li>
            <li>
            	<a href="discuss">树洞</a>
            </li>
            <li class="special">
            	<a href="">资源共享</a>
            </li>
            <li>
            	<a href="">班级日历</a>
            </li>
        </ul>
        <ul class="action-bar">
        	<li class="addnew">
            	<a id="add" href="javascript:void(0)" title="发布"></a>
            </li>
            <li id="head-btn">
            	<a href="javascript:void(0)">
                    <img id="head-avatar" src="" alt="">   
                </a>
                <div id="action-overflow">
                    <ul class="over-ul">
                	   <li>
                    	   <a id="setinfo" href="setinfo">个人设置</a>
                        </li>
                        <li>
                     	  <a href="javascript:void(0)" id="logout">退出</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--主体部分-->
<div id="main">
    <div class="wrap">
        <div class="input" id="addarea">
            <div class="editor-area">
                <div class="title">发布公告</div>
                <div class="umeditor">          
                <!-- 加载编辑器的容器 -->
                <script id="myEditor" name="content" type="text/plain">
                <p><img src="http://img.baidu.com/hi/jx2/j_0008.gif" _src="http://img.baidu.com/hi/jx2/j_0008.gif"/></p>
                </script>
                </div>
                <div class="actionbar">
                    <button id="clearAll" class="action-button"><span>清 空</span></button>
                    <button id="commit" class="action-button"><span>发 布</span></button>
                </div>
            </div>
        </div>
        <div class="mylist">
            <div class="head"></div>
            <div class="content">
                <div class="maincontentBG">
                <div class="maincontent">
                    <div class="who">
                        <div><img  class="head" src="static/images/ic_head.png" alt=""></div>
                        <div id="name">小A</div>
                    </div>
                    <div class="text">  今天又去了一趟市图书馆，借了两本书，一本《人生有味是清欢》，另一本《诗歌风赏》。第一次去图书馆的时候，是一次偶然的机会，一个老乡她借了两本书到期了要去还书，顺便带我出去走走，我也是闲的没事，便与她一起去了，没想图书馆离我们的住处有那么远，骑电动车走了一个多小时才到。而这一次我们改坐公交车，坐公交不被冷风吹，方便了许多，刚好一个小时就到了。当我们走进图书馆这片领地时，就好像走进了一个很神圣的地方，今天的天气真不错，一望无垠的天空蔚蓝如海，蓝天下的这里空气干净又清新。已经习惯了这座喧嚣城市的人们，今天到了这里会倍感到了一份安逸而又舒适感。
                    </div>
                    <div class="actionbar">
                        <div class="time">2014-11-15 19:24</div>
                        <div class="optiontab">
                            <span class="option">
                                <a href="javascript:void(0)">10已阅</a>
                            </span>
                            <span class="option">
                                <a href="javascript:void(0)" id="showDiscuss">评论</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
                <div class="discussBG" id="discussArea">
                    <div class="discuss">
                    <div class="adddiscuss">
                        <input type="text" id="addDiscuss">
                        <button id="commitDiscuss"><span>发 表</span></button>
                    </div>
                    <div class="alldiscuss">
                        <ul>
                            <li class="item">
                                <div class="head">
                                    <img src="static/images/ic_add_normal.png" alt="">
                                </div>
                                <div class="discusscontent">
                                    <span class="who">小B</span>
                                    <span class="maincontent_ds">個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？</span>
                                </div>
                            </li>

                            <li class="item">
                                <div class="head">
                                    <img src="static/images/ic_add_normal.png" alt="">
                                </div>
                                <div class="discusscontent">
                                    <span class="who">小B</span>
                                    <span class="maincontent_ds">個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？</span>
                                </div>
                            </li>

                            <li class="item">
                                <div class="head">
                                    <img src="static/images/ic_add_normal.png" alt="">
                                </div>
                                <div class="discusscontent">
                                    <span class="who">小B</span>
                                    <span class="maincontent_ds">個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>


        <div class="mylist">
            <div class="head"></div>
            <div class="content">
                <div class="maincontentBG">
                <div class="maincontent">
                    <div class="who">
                        <div><img  class="head" src="static/images/ic_head.png" alt=""></div>
                        <div id="name">小A</div>
                    </div>
                    <div class="text">  今天又去了一趟市图书馆，借了两本书，一本《人生有味是清欢》，另一本《诗歌风赏》。第一次去图书馆的时候，是一次偶然的机会，一个老乡她借了两本书到期了要去还书，顺便带我出去走走，我也是闲的没事，便与她一起去了，没想图书馆离我们的住处有那么远，骑电动车走了一个多小时才到。而这一次我们改坐公交车，坐公交不被冷风吹，方便了许多，刚好一个小时就到了。当我们走进图书馆这片领地时，就好像走进了一个很神圣的地方，今天的天气真不错，一望无垠的天空蔚蓝如海，蓝天下的这里空气干净又清新。已经习惯了这座喧嚣城市的人们，今天到了这里会倍感到了一份安逸而又舒适感。
                    </div>
                    <div class="actionbar">
                        <div class="time">2014-11-15 19:24</div>
                        <div class="optiontab">
                            <span class="option">
                                <a href="javascript:void(0)">10已阅</a>
                            </span>
                            <span class="option">
                                <a href="javascript:void(0)" id="showDiscuss">评论</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
                <div class="discussBG" id="discussArea">
                    <div class="discuss">
                    <div class="adddiscuss">
                        <input type="text" id="addDiscuss">
                        <button id="commitDiscuss"><span>发 表</span></button>
                    </div>
                    <div class="alldiscuss">
                        <ul>
                            <li class="item">
                                <div class="head">
                                    <img src="static/images/ic_add_normal.png" alt="">
                                </div>
                                <div class="discusscontent">
                                    <span class="who">小B</span>
                                    <span class="maincontent_ds">個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？</span>
                                </div>
                            </li>

                            <li class="item">
                                <div class="head">
                                    <img src="static/images/ic_add_normal.png" alt="">
                                </div>
                                <div class="discusscontent">
                                    <span class="who">小B</span>
                                    <span class="maincontent_ds">個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？</span>
                                </div>
                            </li>

                            <li class="item">
                                <div class="head">
                                    <img src="static/images/ic_add_normal.png" alt="">
                                </div>
                                <div class="discusscontent">
                                    <span class="who">小B</span>
                                    <span class="maincontent_ds">個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>



        <div class="mylist">
            <div class="head"></div>
            <div class="content">
                <div class="maincontentBG">
                <div class="maincontent">
                    <div class="who">
                        <div><img  class="head" src="static/images/ic_head.png" alt=""></div>
                        <div id="name">小A</div>
                    </div>
                    <div class="text">  今天又去了一趟市图书馆，借了两本书，一本《人生有味是清欢》，另一本《诗歌风赏》。第一次去图书馆的时候，是一次偶然的机会，一个老乡她借了两本书到期了要去还书，顺便带我出去走走，我也是闲的没事，便与她一起去了，没想图书馆离我们的住处有那么远，骑电动车走了一个多小时才到。而这一次我们改坐公交车，坐公交不被冷风吹，方便了许多，刚好一个小时就到了。当我们走进图书馆这片领地时，就好像走进了一个很神圣的地方，今天的天气真不错，一望无垠的天空蔚蓝如海，蓝天下的这里空气干净又清新。已经习惯了这座喧嚣城市的人们，今天到了这里会倍感到了一份安逸而又舒适感。
                    </div>
                    <div class="actionbar">
                        <div class="time">2014-11-15 19:24</div>
                        <div class="optiontab">
                            <span class="option">
                                <a href="javascript:void(0)">10已阅</a>
                            </span>
                            <span class="option">
                                <a href="javascript:void(0)" id="showDiscuss">评论</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
                <div class="discussBG" id="discussArea">
                    <div class="discuss">
                    <div class="adddiscuss">
                        <input type="text" id="addDiscuss">
                        <button id="commitDiscuss"><span>发 表</span></button>
                    </div>
                    <div class="alldiscuss">
                        <ul>
                            <li class="item">
                                <div class="head">
                                    <img src="static/images/ic_add_normal.png" alt="">
                                </div>
                                <div class="discusscontent">
                                    <span class="who">小B</span>
                                    <span class="maincontent_ds">個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？</span>
                                </div>
                            </li>

                            <li class="item">
                                <div class="head">
                                    <img src="static/images/ic_add_normal.png" alt="">
                                </div>
                                <div class="discusscontent">
                                    <span class="who">小B</span>
                                    <span class="maincontent_ds">個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？</span>
                                </div>
                            </li>

                            <li class="item">
                                <div class="head">
                                    <img src="static/images/ic_add_normal.png" alt="">
                                </div>
                                <div class="discusscontent">
                                    <span class="who">小B</span>
                                    <span class="maincontent_ds">個人愚見，孟的故事沒象牙塔之夢好聽。或者叫，夢的故事…？</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>