<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>欢迎回来</title>
<link type="text/css" rel="stylesheet" href="static/css/login.css"/>
<!--标签页、书签的logo显示-->
<link href="static/images/favicon.ico" rel="bookmark" type="image/x-icon" /> 
<link href="static/images/favicon.ico" rel="icon" type="image/x-icon" /> 
<link href="static/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<!--API引入-->
<script type="text/javascript" src="static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="static/js/mineclassapi.js"></script>
<script type="text/javascript" src="static/js/userfunction.js"></script>
<!--初始化-->
<script type="text/javascript">
	
</script>
</head>
<body>
	
</body>
</html>