<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>修改密码 | MineClass</title>
<link type="text/css" rel="stylesheet" href="static/css/setting.css"/>
<link type="text/css" rel="stylesheet" href="static/css/header.css"/>
<!--标签页、书签的logo显示-->
<link href="static/images/favicon.ico" rel="bookmark" type="image/x-icon" /> 
<link href="static/images/favicon.ico" rel="icon" type="image/x-icon" /> 
<link href="static/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<script type="text/javascript">
function showOverflow(){
	$("#head-avatar").mouseover();
	$("#head-avatar").mouseout();
	}
</script>
</head>
<body>
<div id="header">
	<div id="nav" class="container">
    	<div id="logo">
        	<a href="/" >MineClass</a>
        </div>
        <ul class="nav-item">
        	<li>
            	<a href="">公告</a>
            </li>
            <li>
            	<a href="">活动</a>
            </li>
            <li>
            	<a href="">树洞</a>
            </li>
            <li>
            	<a href="">班级日历</a>
            </li>
        </ul>
        <ul class="action-bar">
        	<li>
            	<span>新增</span>
            </li>
            <li>
            	<span>我的消息</span>
            </li>
            <li class="head-btn">
            	<a id="head-avatar">
                	<img src="/static/images/ic_head.png" width="40" height="40">
                </a>
                <ul id="action-overflow" style="display:none;">
                	<li>
                    	<a href="/setinfo.html">个人资料</a>
                    </li>
                    <li>
                    	<a href="首页" id="logout">退出</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div id="main">
		<div class="wrap">
        
			<div class="left box">
            	<ul class="wrap-box">
                	<li><a href="setinfo.html">个人资料</a></li>
                	<li><a href="sethead.html">设置头像</a></li>
                	<li class="active"><a href="">修改密码</a></li>
                </ul>
            </div>
            
            <div class="right box">
                	<form class="wrap-box">
                    	<div class="form-list">
                        	<label class="label-name" for="oldpassword" >旧密码</label>
                            <div class="list-item">
                			<input class="input-box" type="password" name="oldpass" id="oldpassword" placeholder="请输入当前密码"/>
                            </div>
            			</div>
                    	<div class="form-list">
                        	<label class="label-name" for="newpassword" >新密码</label>
                            <div class="list-item">
                			<input class="input-box" type="password" name="newpass" id="newpassword" placeholder="请输入密码"/>
                            </div>
            			</div>
                    	<div class="form-list">
                        	<label class="label-name" for="confirmpassword" >确认密码</label>
                            <div class="list-item">
                			<input class="input-box" type="password" name="confirmpass" id="confirmpassword" placeholder="请确认密码"/>
                            </div>
            			</div>                        
                        <div class="form-list">
                        	<div class="list-item">
                        	<span id="info-submit" class="save-button">保存</span>
                            </div>
                        </div>
                    </form>
              </div><!--right-->
                </div>
            </div>
        </div>
</div>
<div id="footer"></div>
</body>
</html>
